body{
    background: #8395a7 ;
}
header,section,footer,aside,nav,article,hgroup{
    display: block;
}
.agrupar{
    width: 96%;
    background: #ff9f43;
    margin: auto;
    padding: 1px 10px; 
    border-radius: 10px;
}
.cabecera{
    background: #ee5253;
    color: white;
    padding: 1px 11px;
    border-radius: 23px;
    margin: 14px;
    text-align: center;
}
.menu{
    background: #ff6b6b;
    padding: 4px 5px;
    border-radius: 9px; 
    margin: 11px 16px;
}
.menu a{
    color: rgb(233, 230, 230);
    text-decoration: none;
    font: bold 12px verdana; 
    padding: 1px 23px; 
}
.seccion{
    margin: 20px 5px; 
    padding: 2px 15px; 
    width: 60%;
    float: right;
    background: #feca57;
    border-radius: 9px;
}
article{
    background: #10ac84;
    padding: 5px 20px; 
    border-radius: 9px;  
    margin: 60px 3px;
}
article footer{
    text-align: right;
    margin-top: 20px;
}
article time{
    color: rgba(27, 27, 27, 0.6);  
    font-size: 11px; 
}
article a{
    color: rgb(224, 52, 52);
    text-decoration: none;
    font: bold 12px verdana; 
    margin: 5px 15px;
}
article p{
    text-align: justify;
}
.columna{
    margin 14px 0px; 
    width: 29%;
    float: left
}
.columna blockquote{
    background-color: #feca57;
    padding: 30px 10px;
    margin-top: 37px;
    margin-left: 10px;
    margin-right: 2px;
    border-radius: 20px;
    text-align: center;
}
.piep{
    clear:both;
    text-align: center;
    background-color: #2e86de;
    padding: 0.05vw;
    color: white;
    margin: 5px;
    border-radius: 14px;
    
}
img{
    width: 370px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}
